apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: demospringalien
  name: demospringalien
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demospringalien
  template:
    metadata:
      labels:
        app: demospringalien
    spec:
      containers:
      - image: sampath5/springalien
        name: demospringalien
        
